<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="visor-curso">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--Way call a properties of a object-->
    <h2>This is a [[courseSubject]] course</h2>
    <h2>and it's called [[courseName]]</h2>
    <h3>The course is [[courseDuration]] hours long</h3>
  </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class VisorCurso extends Polymer.Element {
            static get is() {
                return 'visor-curso'; //a partir del - el nombre de la clase tendra  q ser mayus  ej: front-app , -a ====> Front(A)pp
            }
            static get properties() {
                return {
                    courseDuration: {
                        type: Number,
                    },
                    courseSubject: {
                        type: String,
                    },
                    courseName: {
                        type: String,
                    }
                };
            }
        }

        window.customElements.define(VisorCurso.is, VisorCurso);
    </script>
</dom-module>