<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--Way call a properties of a object-->
    <h2>I'm the receptor</h2>
    <h2>The course is [[course]]</h2>
    <h2>The year is [[year]]</h2>
  </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class ReceptorEvento extends Polymer.Element {
            static get is() {
                return 'receptor-evento'; //a partir del - el nombre de la clase tendra  q ser mayus  ej: front-app , -a ====> Front(A)pp
            }
            static get properties() {
                return {
                    course: {
                        type: String
                    },
                    year: {
                        type: String
                    }
                };
            }
        }

        window.customElements.define(ReceptorEvento.is, ReceptorEvento);
    </script>
</dom-module>