<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--Way call a properties of a object-->
    <h2>I'm the emisor</h2>
    <button on-click="sendEvent">No press</button>
  </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class EmisorEvento extends Polymer.Element {
            static get is() {
                return 'emisor-evento'; //a partir del - el nombre de la clase tendra  q ser mayus  ej: front-app , -a ====> Front(A)pp
            }
            static get properties() {
                return {};
            }
            sendEvent(e) {
                console.log("Pulsando el botón");
                console.log(e);
                this.dispatchEvent(
                    new CustomEvent(
                        "myevent", {
                            "detail": {
                                "course": "TechU",
                                "year": 2019
                            }
                        }
                    )
                );
            }
        }

        window.customElements.define(EmisorEvento.is, EmisorEvento);
    </script>
</dom-module>