<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">

<dom-module id="gestor-evento">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--Way call a properties of a object-->
    <h2>I'm your father! </h2>
    <emisor-evento on-myevent="processEvent"></emisor-evento>
    <receptor-evento id="receiver"></receptor-evento>
  </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class GestorEvento extends Polymer.Element {
            static get is() {
                return 'gestor-evento'; //a partir del - el nombre de la clase tendra  q ser mayus  ej: front-app , -a ====> Front(A)pp
            }
            static get properties() {
                return {};
            }
            processEvent(e) {
                console.log("Capturado evento del emisor");
                console.log(e.detail);
                this.$.receiver.course = e.detail.course;
                this.$.receiver.year = e.detail.year;
            }
        }

        window.customElements.define(GestorEvento.is, GestorEvento);
    </script>
</dom-module>