<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--Importar el iron-ajax  --save-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-accounts">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--Way call a properties of a object-->
    <h2>My id is [[id]]</h2>
    <h3>and my name is [[name]]</h3>

    <iron-ajax auto
        id="getUser"
        url="http://localhost:3006/techu-peru/v1/users/{{id}}/accounts"
        handle-as="json"
        on-response="showData"
    >

  </template>

    <script>
        //var Id = prompt("ID: ");

        /**
         * @customElement
         * @polymer
         */
        class VisorAccounts extends Polymer.Element {
            static get is() {
                return 'visor-accounts'; //a partir del - el nombre de la clase tendra  q ser mayus  ej: front-app , -a ====> Front(A)pp
            }
            static get properties() {
                return {
                    name: {
                        type: String
                    },
                    id: {
                        type: Number,
                    }
                };
            }
            showData(data) {
                console.log("showData");
                console.log(data.detail.response);
                // id = 5;
                // console.log("ID: " + id);
                // this.id = data.detail.response[0].id;
                // this.name = data.detail.response[0].first_name + ' ' + data.detail.response[0].last_name;
            }
        }

        window.customElements.define(VisorAccounts.is, VisorAccounts);
    </script>
</dom-module>