<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../visor-curso/visor-curso.html">
<dom-module id="front-app">
    <template>
    <style>
      :host {
        display: block;
      }
      h2 {
        color: red;
      }
    </style>
    <!--Way call a properties of a object-->
    <h2>Hello [[prop1]]!</h2>
    <h2>This is a [[courseSubject]]</h2>
    <h2>and it's called [[courseName]]</h2>
    <!--Call other webComponent:visor-curso-->
    <!--<visor-curso></visor-curso>-->
    <!--Two ways data binding-->
    <input type="text" value="{{courseName}}"/>
    <input type="text" value="{{courseName::input}}"/>
  </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class FrontApp extends Polymer.Element {
            static get is() {
                return 'front-app'; //a partir del - el nombre de la clase tendra  q ser mayus  ej: front-app , -a ====> Front(A)pp
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'front-api'
                    },
                    courseSubject: {
                        type: String,
                        value: 'Polymer'
                    },
                    courseName: {
                        type: String,
                        value: 'Web component and Polymer'
                    }
                };
            }
        }

        window.customElements.define(FrontApp.is, FrontApp);
    </script>
</dom-module>